#app-view{
    background: #1A1C24;
    height: 600vh;
    padding: 200px;

    @media screen and (max-width: 1620px) {
        & {
            padding: 100px;
        }
    }

    @media screen and (max-width: 769px) {
        & {
            padding: 1em;
            padding-bottom: 120px;
        }
    }

    .sticky-cont{
       // border: 1px solid magenta;
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @media screen and (max-width: 1100px) {
            & {
                flex-direction: column;
                top: 0px;
            }
        }

        @media screen and (max-width: 769px) {
            & {
                justify-content: space-between;
                align-items: space-between;
                top: 0px;
            }
        }

        @media screen and (max-width: 450px) {
            & {
                justify-content: space-between;
                align-items: space-between;
                top: 0px;
            }
        }

        #image-scroll{
            position: relative;

            img{
                display: block;
                height: 900px;
                width: auto;

                @media screen and (max-width: 1100px) {
                    & {
                        height: 800px;
                    }
                }

                @media screen and (max-width: 450px) {
                    & {
                        height: 700px;
                    }
                }
            }

            .phone-inner{
                position: absolute;
                top: 165px;
                left: 105px;
                height: 565px;
                transition: all 0.4s ease-in-out;
                filter: opacity(0);

                @media screen and (max-width: 1100px) {
                    & {
                        height: 502px;
                        top: 147px;
                        left: 93px;
                    }
                }
                

                @media screen and (max-height: 450px) {
                    & {
                        height: 440px;
                        top: 128px;
                        left: 82px;
                    }
                }
            }
        }
            
    }
    
    .app-detail{
        display: block;
        flex: 1;
        max-width: 900px;
        //border: 1px solid yellowgreen;

        .ad-title{
            font-size: 60px;
            font-weight: 800;
            line-height: 80px;
            color: white;
            margin-bottom: 100px;

            span{
                font-weight: 800;
                color: #03DAC5;
            }

            @media screen and (max-width: 1340px) {
                & {
                    text-align: center;
                    font-size: 50px;
                    line-height: 55px;
                    margin-bottom: 50px;
                }
            }

            @media screen and (max-width: 1100px) {
                & {
                    font-size: 30px;
                    line-height: 31px;
                    margin-bottom: 25px;
                }
            }

            @media screen and (max-width: 769px) {
                & {
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 25px;
                }
            }
        }

        .ad-content{
            color: white;
            font-size: 24px;
            font-weight: 50px;
            margin-bottom: 35px;

            @media screen and (max-width: 1340px) {
                & {
                    text-align: center;
                    font-size: 24px;
                    margin-bottom: 20px;
                }
            }

            @media screen and (max-width: 1100px) {
                & {
                    font-size: 18px;
                    line-height: 20px;
                    margin-bottom: 20px;
                }
            }

            @media screen and (max-width: 769px) {
                & {
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 18px;
                }
            }
        }
    }
}